openapi: 3.0.3
info:
  title: Kits AI Stem Splitter Voice Models API
  version: v1
  description: 'The Kits AI API (operated by Arpeggi Labs) provides studio-quality AI music and audio tools as asynchronous inference jobs: voice conversion, vocal separation, stem splitting, and voice-model blending, plus a catalog of royalty-free artist voice models. All create endpoints enqueue a job and return its status; poll the corresponding fetch endpoint for the signed output file URLs. This specification was generated by API Evangelist from the published Kits AI documentation (https://docs.kits.ai/); the provider lists an openapi.json in its llms.txt but the file was not retrievable at generation time.'
  contact:
    name: Kits AI Support
    url: https://help.kits.ai/
  x-generated-by: api-evangelist-enrichment
  x-source: https://docs.kits.ai/api-reference
servers:
- url: https://arpeggi.io/api/kits/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Voice Models
  description: Browse and retrieve available voice models.
paths:
  /voice-models:
    get:
      tags:
      - Voice Models
      operationId: listVoiceModels
      summary: Fetch voice models
      description: Returns a paginated list of voice models.
      parameters:
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - name: myModels
        in: query
        description: Filter the response to your models only.
        schema:
          type: boolean
      - name: instruments
        in: query
        description: Filter the response to instrument models only.
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceModel'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /voice-models/{id}:
    get:
      tags:
      - Voice Models
      operationId: getVoiceModel
      summary: Fetch a voice model by ID
      description: Returns a single voice model by id.
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceModel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
components:
  parameters:
    JobId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    PerPage:
      name: perPage
      in: query
      description: Page size (default 10).
      schema:
        type: integer
        default: 10
    Page:
      name: page
      in: query
      description: Page offset (default 1).
      schema:
        type: integer
        default: 1
    Order:
      name: order
      in: query
      description: Sort order, asc (default) or desc.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: asc
  responses:
    Forbidden:
      description: Attempted to fetch a resource that does not belong to the requesting user.
      content:
        text/plain:
          schema:
            type: string
    Unauthorized:
      description: Authentication was not provided or was invalid.
      content:
        text/plain:
          schema:
            type: string
    UnprocessableEntity:
      description: Request body or query params are invalid.
      content:
        text/plain:
          schema:
            type: string
  schemas:
    VoiceModel:
      type: object
      description: A voice model that may be user created or internal to Kits.ai.
      properties:
        id:
          type: integer
        title:
          type: string
        isUsable:
          type: boolean
        tags:
          type: array
          nullable: true
          items:
            type: string
        imageUrl:
          type: string
          nullable: true
        demoUrl:
          type: string
          nullable: true
        twitterLink:
          type: string
          nullable: true
        instagramLink:
          type: string
          nullable: true
        tiktokLink:
          type: string
          nullable: true
        spotifyLink:
          type: string
          nullable: true
        youtubeLink:
          type: string
          nullable: true
    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        perPage:
          type: integer
        currentPage:
          type: integer
        lastPage:
          type: integer
        firstPage:
          type: integer
        firstPageUrl:
          type: string
        lastPageUrl:
          type: string
        nextPageUrl:
          type: string
          nullable: true
        previousPageUrl:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key issued from the Kits AI API access page (https://app.kits.ai/api-access), sent as `Authorization: Bearer <api-key>`.'
