openapi: 3.0.3
info:
  title: Kits AI API
  version: v1
  description: >-
    The Kits AI API (operated by Arpeggi Labs) provides studio-quality AI music
    and audio tools as asynchronous inference jobs: voice conversion, vocal
    separation, stem splitting, and voice-model blending, plus a catalog of
    royalty-free artist voice models. All create endpoints enqueue a job and
    return its status; poll the corresponding fetch endpoint for the signed
    output file URLs. This specification was generated by API Evangelist from
    the published Kits AI documentation (https://docs.kits.ai/); the provider
    lists an openapi.json in its llms.txt but the file was not retrievable at
    generation time.
  contact:
    name: Kits AI Support
    url: https://help.kits.ai/
  x-generated-by: api-evangelist-enrichment
  x-source: https://docs.kits.ai/api-reference
servers:
  - url: https://arpeggi.io/api/kits/v1
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Voice Conversion
    description: Convert an input performance to a target voice model.
  - name: Vocal Separation
    description: Isolate vocals from a mixed audio track.
  - name: Stem Splitter
    description: Split an audio track into vocal and instrument stems.
  - name: Voice Blender
    description: Blend two to four voice models into a new voice model.
  - name: Voice Models
    description: Browse and retrieve available voice models.
paths:
  /voice-conversions:
    post:
      tags: [Voice Conversion]
      operationId: createVoiceConversion
      summary: Create a new voice conversion job
      description: >-
        Creates a voice conversion inference job and adds it to the inference
        queue. All requests must be made as multipart form requests. The
        response contains the job status.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [voiceModelId, soundFile]
              properties:
                voiceModelId:
                  type: integer
                  description: ID of the voice model.
                soundFile:
                  type: string
                  format: binary
                  description: Input audio. Supports wav, mp3, or flac. Max 100MB.
                conversionStrength:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Amount of accent from the voice model (0 to 1).
                modelVolumeMix:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Mix between input volume and model volume (0 to 1).
                pitchShift:
                  type: number
                  minimum: -24
                  maximum: 24
                  description: Semitones to shift the input audio (-24 to 24).
                pre:
                  $ref: '#/components/schemas/PreProcessingEffects'
                post:
                  $ref: '#/components/schemas/PostProcessingEffects'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      tags: [Voice Conversion]
      operationId: listVoiceConversions
      summary: Fetch voice conversions
      description: Returns a paginated list of voice conversion inference jobs.
      parameters:
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInferenceJobs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /voice-conversions/{id}:
    get:
      tags: [Voice Conversion]
      operationId: getVoiceConversion
      summary: Fetch a voice conversion by ID
      description: Returns a single voice conversion inference job by id.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stem-splits:
    post:
      tags: [Stem Splitter]
      operationId: createStemSplit
      summary: Create a new stem splitter job
      description: >-
        Creates a stem splitter job and adds it to the splitter queue. All
        requests must be made as multipart form requests.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [inputFile]
              properties:
                inputFile:
                  type: string
                  format: binary
                  description: Input audio. Supports wav, webm, mp3 or flac. Max 50MB.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeparationJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      tags: [Stem Splitter]
      operationId: listStemSplits
      summary: Fetch stem splitter jobs
      description: Returns a paginated list of stem splitter jobs.
      parameters:
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSeparationJobs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stem-splits/{id}:
    get:
      tags: [Stem Splitter]
      operationId: getStemSplit
      summary: Fetch a stem splitter job by ID
      description: Returns a single stem splitter job by id.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeparationJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /vocal-separations:
    post:
      tags: [Vocal Separation]
      operationId: createVocalSeparation
      summary: Create a new vocal separation job
      description: >-
        Creates a vocal separation job and adds it to the separator queue. All
        requests must be made as multipart form requests.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [inputFile]
              properties:
                inputFile:
                  type: string
                  format: binary
                  description: Input audio. Supports wav, webm, mp3 or flac. Max 50MB.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeparationJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      tags: [Vocal Separation]
      operationId: listVocalSeparations
      summary: Fetch vocal separation jobs
      description: Returns a paginated list of vocal separation jobs.
      parameters:
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSeparationJobs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /vocal-separations/{id}:
    get:
      tags: [Vocal Separation]
      operationId: getVocalSeparation
      summary: Fetch a vocal separation job by ID
      description: Returns a single vocal separation job by id.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeparationJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /voice-blender:
    post:
      tags: [Voice Blender]
      operationId: createVoiceBlend
      summary: Create a voice blender job
      description: >-
        Creates a voice blender job and adds it to the blender queue. Provide
        two to four voice models and one fewer alpha value than the number of
        models (the last alpha is 1 minus the sum of the others). The output
        model is usable once the job status is "success".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modelId1, modelId2, alpha]
              properties:
                modelId1:
                  type: integer
                  description: ID of the first voice model to blend.
                modelId2:
                  type: integer
                  description: ID of the second voice model to blend.
                modelId3:
                  type: integer
                  description: ID of the third voice model to blend.
                modelId4:
                  type: integer
                  description: ID of the fourth voice model to blend.
                alpha:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Percentage of output from the first model (0 to 1).
                alpha2:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Percentage from the second model. Required if modelId3 is provided.
                alpha3:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Percentage from the third model. Required if modelId4 is provided.
                title:
                  type: string
                  description: Title of the new voice model.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceBlenderJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      tags: [Voice Blender]
      operationId: listVoiceBlends
      summary: Fetch voice blender jobs
      description: Returns a paginated list of voice blender jobs.
      parameters:
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceBlenderJob'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /voice-blender/{id}:
    get:
      tags: [Voice Blender]
      operationId: getVoiceBlend
      summary: Fetch a voice blender job by ID
      description: Returns a single voice blender job by id.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceBlenderJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /voice-models:
    get:
      tags: [Voice Models]
      operationId: listVoiceModels
      summary: Fetch voice models
      description: Returns a paginated list of voice models.
      parameters:
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: myModels
          in: query
          description: Filter the response to your models only.
          schema:
            type: boolean
        - name: instruments
          in: query
          description: Filter the response to instrument models only.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceModel'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /voice-models/{id}:
    get:
      tags: [Voice Models]
      operationId: getVoiceModel
      summary: Fetch a voice model by ID
      description: Returns a single voice model by id.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceModel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API key issued from the Kits AI API access page
        (https://app.kits.ai/api-access), sent as `Authorization: Bearer <api-key>`.
  parameters:
    JobId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    Order:
      name: order
      in: query
      description: Sort order, asc (default) or desc.
      schema:
        type: string
        enum: [asc, desc]
        default: asc
    Page:
      name: page
      in: query
      description: Page offset (default 1).
      schema:
        type: integer
        default: 1
    PerPage:
      name: perPage
      in: query
      description: Page size (default 10).
      schema:
        type: integer
        default: 10
  responses:
    Unauthorized:
      description: Authentication was not provided or was invalid.
      content:
        text/plain:
          schema:
            type: string
    Forbidden:
      description: Attempted to fetch a resource that does not belong to the requesting user.
      content:
        text/plain:
          schema:
            type: string
    UnprocessableEntity:
      description: Request body or query params are invalid.
      content:
        text/plain:
          schema:
            type: string
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        text/plain:
          schema:
            type: string
  schemas:
    InferenceJob:
      type: object
      description: An inference job created through the API.
      properties:
        id:
          type: integer
        createdAt:
          type: string
        type:
          type: string
          enum: [infer, tts]
        status:
          type: string
          enum: [running, success, error, cancelled]
        jobStartTime:
          type: string
          nullable: true
        jobEndTime:
          type: string
          nullable: true
        outputFileUrl:
          type: string
          nullable: true
          description: Signed URL for the output file (expires in 4 hours).
        lossyOutputFileUrl:
          type: string
          nullable: true
        recombinedAudioFileUrl:
          type: string
          nullable: true
        voiceModelId:
          type: integer
          nullable: true
        model:
          allOf:
            - $ref: '#/components/schemas/VoiceModel'
          nullable: true
    SeparationJob:
      type: object
      description: A vocal separation or stem splitter job.
      properties:
        id:
          type: integer
        createdAt:
          type: string
        type:
          type: string
          enum: [separate]
        status:
          type: string
          enum: [running, success, error, cancelled]
        jobStartTime:
          type: string
          nullable: true
        jobEndTime:
          type: string
          nullable: true
        vocalAudioFileUrl:
          type: string
          nullable: true
        lossyVocalAudioFileUrl:
          type: string
          nullable: true
        backingAudioFileUrl:
          type: string
          nullable: true
          deprecated: true
          description: DEPRECATED. Use stemFileUrls or lossyStemFileUrls with instrument "backing" instead.
        stemFileUrls:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/StemFile'
        lossyStemFileUrls:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/StemFile'
    StemFile:
      type: object
      properties:
        instrument:
          type: string
        url:
          type: string
    VoiceBlenderJob:
      type: object
      description: A voice blender job that combines two to four voice models.
      properties:
        id:
          type: integer
        model1Id:
          type: integer
        model2Id:
          type: integer
        model3Id:
          type: integer
          nullable: true
        model4Id:
          type: integer
          nullable: true
        alpha:
          type: number
        alpha2:
          type: number
          nullable: true
        alpha3:
          type: number
          nullable: true
        status:
          type: string
          enum: [running, success, error, cancelled]
        outputModelId:
          type: integer
          nullable: true
        title:
          type: string
    VoiceModel:
      type: object
      description: A voice model that may be user created or internal to Kits.ai.
      properties:
        id:
          type: integer
        title:
          type: string
        isUsable:
          type: boolean
        tags:
          type: array
          nullable: true
          items:
            type: string
        imageUrl:
          type: string
          nullable: true
        demoUrl:
          type: string
          nullable: true
        twitterLink:
          type: string
          nullable: true
        instagramLink:
          type: string
          nullable: true
        tiktokLink:
          type: string
          nullable: true
        spotifyLink:
          type: string
          nullable: true
        youtubeLink:
          type: string
          nullable: true
    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        perPage:
          type: integer
        currentPage:
          type: integer
        lastPage:
          type: integer
        firstPage:
          type: integer
        firstPageUrl:
          type: string
        lastPageUrl:
          type: string
        nextPageUrl:
          type: string
          nullable: true
        previousPageUrl:
          type: string
          nullable: true
    PaginatedInferenceJobs:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InferenceJob'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginatedSeparationJobs:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SeparationJob'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PreProcessingEffects:
      type: object
      description: Effects run on the input file before conversion.
      properties:
        NoiseGate:
          type: object
          properties:
            threshold_db: { type: number }
            ratio: { type: number }
            attack_ms: { type: number }
            release_ms: { type: number }
        HighPassFilter:
          type: object
          properties:
            cutoff_frequency_hz: { type: number, minimum: 0, maximum: 99999 }
        LowPassFilter:
          type: object
          properties:
            cutoff_frequency_hz: { type: number, minimum: 0, maximum: 99999 }
        Compressor:
          type: object
          properties:
            threshold_db: { type: number }
            ratio: { type: number }
            attack_ms: { type: number }
            release_ms: { type: number }
    PostProcessingEffects:
      type: object
      description: Effects run on the output file after conversion.
      properties:
        Chorus:
          type: object
          properties:
            rate_hz: { type: number, minimum: 0, maximum: 100 }
            depth: { type: number }
            centre_delay_ms: { type: number }
            feedback: { type: number }
            mix: { type: number }
        Reverb:
          type: object
          properties:
            room_size: { type: number, minimum: 0, maximum: 1 }
            damping: { type: number, minimum: 0, maximum: 1 }
            wet_level: { type: number, minimum: 0, maximum: 1 }
            dry_level: { type: number, minimum: 0, maximum: 1 }
            width: { type: number }
            freeze_mode: { type: number }
        Compressor:
          type: object
          properties:
            threshold_db: { type: number }
            ratio: { type: number }
            attack_ms: { type: number }
            release_ms: { type: number }
        Delay:
          type: object
          properties:
            delay_seconds: { type: number }
            feedback: { type: number }
            mix: { type: number, minimum: 0, maximum: 1 }
